<!-- Custom content thumbnail -->
<h1 class="text-center">Latest Events</h1>
<hr>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://mdwnon.com/Blog/wp-content/uploads/2014/04/3aith-319x200.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris maximus sapien vel tristique finibus. Nulla in est elit. Nulla sit amet luctus velit. Morbi ut luctus tellus. Fusce tristique tempus nisi, a pharetra tellus. Donec pellentesque at
          dolor eget consequat. Vestibulum tempor nunc leo, ac auctor nisl eleifend ut. Pellentesque at vehicula sapien. Praesent tincidunt metus eu ante finibus, euismod consequat ligula ultricies. Sed condimentum porttitor mauris, ut ornare augue. Curabitur
          purus risus, dignissim ut rutrum id, aliquam ac nibh. Vestibulum arcu leo, finibus nec pharetra vel, varius ac massa.</p>
        <p>
          <a href="#" class="btn btn-success" role="button">10$</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.tumbao.gr/wp-content/uploads/2015/09/kelly-333-319x200.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris maximus sapien vel tristique finibus. Nulla in est elit. Nulla sit amet luctus velit. Morbi ut luctus tellus. Fusce tristique tempus nisi, a pharetra tellus. Donec pellentesque at
          dolor eget consequat. Vestibulum tempor nunc leo, ac auctor nisl eleifend ut. Pellentesque at vehicula sapien. Praesent tincidunt metus eu ante finibus, euismod consequat ligula ultricies. Sed condimentum porttitor mauris, ut ornare augue. Curabitur
          purus risus, dignissim ut rutrum id, aliquam ac nibh. Vestibulum arcu leo, finibus nec pharetra vel, varius ac massa.</p>
        <p>
          <a href="#" class="btn btn-success" role="button">10$</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.tumbao.gr/wp-content/uploads/2015/10/teo-333-319x200.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris maximus sapien vel tristique finibus. Nulla in est elit. Nulla sit amet luctus velit. Morbi ut luctus tellus. Fusce tristique tempus nisi, a pharetra tellus. Donec pellentesque at
          dolor eget consequat. Vestibulum tempor nunc leo, ac auctor nisl eleifend ut. Pellentesque at vehicula sapien. Praesent tincidunt metus eu ante finibus, euismod consequat ligula ultricies. Sed condimentum porttitor mauris, ut ornare augue. Curabitur
          purus risus, dignissim ut rutrum id, aliquam ac nibh. Vestibulum arcu leo, finibus nec pharetra vel, varius ac massa.</p>
        <p>
          <a href="#" class="btn btn-success" role="button">10$</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Find an event -->
<div class="jumbotron">
  <h2>Find an event</h2>
  <h3>Lorem ipsum dolor sit amet.</h3>
  <div class="row">
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
      <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
</div>

<!-- All events -->

<h2 class="text-center">Thousands of events happening at anytime</h2>
<h4 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In malesuada congue mauris, ac tempor sem scelerisque nec. Sed hendrerit mauris.</h4>
<div class="text-center">
  <button class="btn btn-info" type="button">CHECK ALL EVENTS</button>
</div>

<div class="container marketing">
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading.
        <span class="text-muted">It'll blow your mind.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="https://farm6.staticflickr.com/5112/6970631088_f8a396cc6a.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Oh yeah, it's that good.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img
        class="featurette-image img-responsive center-block"
        data-src="holder.js/500x500/auto"
        alt="500x500"
        src="http://2.bp.blogspot.com/-CmBgofK7QzU/TVj3u3N1h2I/AAAAAAAADN8/OszBhGvvXRU/s640/tumblr_lg7h9gpbtP1qap9qio1_500.jpeg"
        data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one.
        <span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="http://images.wookmark.com/354152_wookmark.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>
